@model Assignment3.Models.AppUser
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form asp-action="Login" method="post" class="w-25">
    <span class="text-danger">@TempData["Error"]</span> <br />

    Email: <input class="form-control" type="email" name="email" />
    <span class="text-danger" asp-validation-for="Email"></span> <br />

    Password: <input class="form-control" type="password" name="pwd" />
    <span class="text-danger" asp-validation-for="Password"></span> <br />

    <input type="submit" value="Login" class="btn btn-success" />
</form>
<hr>
<div class="text-secondary">
    <span>Email: admin@gmail.com</span><br/>
    <span>Password: 123456</span>
</div>