@model IEnumerable<Assignment3.Models.Post>
@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

@{
    ViewData["Title"] = "Index";

    var user = @HttpContextAccessor.HttpContext.Session.GetString("userEmail");
}

<h1>List Post</h1>

@if (user != null)
{
    <p>
        <a asp-action="Create" class="btn btn-primary">
            Create
            <i class="fa fa-plus"></i>
        </a>
    </p>
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <aside>
                <div class="nav-shopping">
                    <hr style="width:80%;text-align:left;margin-left:0;border-style:dotted;">
                    <nav>
                        <a asp-controller="Search">Search</a>
                    </nav>
                    <hr style="width:75%;text-align:left;margin-left:0;border-style:dotted;" />
                </div>
                @if (user != null && user == "admin@gmail.com")
                {
                    <div class="nav-admin">
                        <nav>
                            <a asp-controller="AppUsers">Users</a>
                        </nav>
                        <hr style="width:75%;text-align:left;margin-left:0;border-style:dotted;" />
                        <nav>
                            <a asp-controller="Reports">Report</a>
                        </nav>
                        <hr style="width:75%;text-align:left;margin-left:0;border-style:dotted;" />
                    </div>
                }
            </aside>
        </div>
        <div class="col-md-9">
            <table class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Title</th>
                        <th>Create At</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tableBody"></tbody>
            </table>
        </div>
    </div>
</div>
